#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Input Device Drivers
CONFIG_TOUCHSCREEN_GEN_VKEYS=y
CONFIG_TOUCHSCREEN_FT5346=y
# CONFIG_TOUCHSCREEN_FTS is not set
CONFIG_TOUCHSCREEN_ATMEL308U=y
CONFIG_INPUT_QTI_HAPTICS=y
CONFIG_FINGERPRINT_GOODIX_GF3208_MARKW=y
CONFIG_FINGERPRINT_FPC1020_MARKW=y

# Platform
CONFIG_MACH_XIAOMI=y
CONFIG_MACH_XIAOMI_MARKW=y
